
.title{

    font-weight: 400;
    font-size: 50px;
   
}

#principais-estilos{


    background-color: black;
    color: antiquewhite;
    font-size: 40px;
    padding: 20px;
    margin: 20px 50px;
    border: 10px solid rgb(255, 75, 4);
    border-radius: 10px;

}

#principais-estilos .paragrafo {

    font-family: 4px;
    color: rgb(47, 173, 95);
    line-height: 50px;
    font-family:monospace;
}

.title{

    font-weight: 400;
    font-size: 50px;
   
}

#flexbox .container{

display: flex;
flex-direction: row;
gap: 20px;
justify-content: space-between;
background-color: blue;

}
#flexbox  .container .box-2{

    width: 200px;
    height: 200px;
    background-color: rgb(255, 230, 8);
}